.main {
    background-color: rgb(174, 173, 173);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list {
    background-color: azure;
}

.post {
    box-shadow: 200px;
    font-size: 20px;
    text-align: start;
    margin: 70px;
    position: relative;
    right: 40px;
    font-weight: 900;
    top: 10px;
}

.button {
    box-shadow: 10px 10px lightblue;
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-radius: 30px;
    font-size: medium;
    position: relative;
    left: 850px;
    bottom: 10px;
}

.title {
    color: rgb(218, 35, 35);
    font-size: 50px;
    font-family: fantasy;
    position: relative;
    font-weight: 900;
}

.class2 {
    position: relative;
    left: 25px;
    top: 10px;
}

.class1 {
    border-color: rgb(218, 35, 35);
    border-width: 10px;
    border-radius: 20px;
    position: relative;
    bottom: 50px;
}

a:link {
    color: rgb(0, 0, 0);
}
  
a:visited {
    color: rgb(165, 167, 165);
}
  
a:hover {
    color: rgb(107, 105, 106);
}
  
a:active {
    color: rgb(55, 55, 56);
}
